version: "3.9"

services:
  redis:
    image: redis:7-alpine
    restart: unless-stopped
    ports:
      - "6379:6379"

  mongodb:
    image: mongo:6
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  nats:
    image: nats:2-alpine
    command: [ "-js" ]
    restart: unless-stopped

  gateway:
    build: ./gateway
    env_file: .env
    command: ["npm", "start", "--", "/app/services/*.service.js", "/app/services/**/*.service.js"]
    depends_on:
      - nats
    ports:
      - "3000:3000"
    restart: unless-stopped

  ping:
    build: ./ping
    env_file: .env
    command: ["npm", "start", "--", "/app/services/*.service.js", "/app/services/**/*.service.js"]
    depends_on:
      - nats
    restart: unless-stopped

  pong:
    build: ./pong
    env_file: .env
    command: ["npm", "start", "--", "/app/services/*.service.js", "/app/services/**/*.service.js"]
    depends_on:
      - nats
    restart: unless-stopped

  ws:
    build: ./ws
    env_file: .env
    depends_on:
      - nats
    ports:
      - "8080:8080"
    restart: unless-stopped
    command: ["npm", "start", "--", "/app/services/*.service.js", "/app/services/**/*.service.js"]

  auth:
    build: ./auth
    env_file: .env
    depends_on:
      - nats
      - mongodb
      - redis
    restart: unless-stopped
    command: ["npm", "start", "--", "/app/services/*.service.js", "/app/services/**/*.service.js"]

  content:
    build: ./content
    env_file: .env
    depends_on:
      - nats
      - mongodb
    restart: unless-stopped
    command: ["npm", "start", "--", "/app/services/*.service.js", "/app/services/**/*.service.js"]

  engine:
    build: ./engine
    env_file: .env
    depends_on:
      - nats
      - redis
    restart: unless-stopped
    command: ["npm", "start", "--", "/app/services/*.service.js", "/app/services/**/*.service.js"]

networks:
  default:
    name: eng-quiz-net

volumes:
  mongo-data:
